
<div *ngIf="showNoResults">
  <div class="main_heading">
    <h1 class="heading">Employer Details</h1>
  </div>
  <div class="no_results_img" *ngIf="employeeList?.length === 0">
    <img src="assets/image.png" class="images">
  </div>
  <div class="employee_list mt-3 px-3" *ngIf="employeeList.length > 0">
    <div *ngFor="let employee of employeeList; let i = index;" class="list_item content" [ngClass]="{'swiped': swipedIndex === i }" (swipeleft)="onSwipeLeft(i)" (swiperight)="onSwipeRight(i)">
      <div>
        <h2>{{employee.name}}</h2>
        <h4>{{employee.role}}</h4>
        <h4 *ngIf="employee.selectedDate2 !== undefined">{{employee.selectedDate1 | date:'MMMM d, y'}} - {{employee.selectedDate2 | date:'MMMM d, y'}}</h4>
        <h4 *ngIf="employee.selectedDate2 === undefined">From {{employee.selectedDate1}}</h4>
      </div>
      <div>
        <span class="delete"  *ngIf="swipedIndex === i"
       ><i class="fa fa-edit edit-icon" (click)="onClickEdit(employee.id)"></i><i class="fa fa-trash delete-icon" (click)="deleteItem(employee.id)"></i></span>
      </div>
    </div>
  </div>
<div class="d-flex justify-content-between" *ngIf="employeeList.length > 0">
  <div class="footer">Swipe left to edit and delete and list</div>
  <div class="icon_box" (click)="onClickAdd()">
    <i class="fa fa-plus plus-icon"></i>
  </div>
</div>
<div class="icon_box add" *ngIf="employeeList.length === 0" (click)="onClickAdd()">
  <i class="fa fa-plus plus-icon"></i>
</div>
 
</div>
<div *ngIf="!showNoResults">
  <router-outlet></router-outlet>
</div>
